body {
	font-family: 'Roboto', Helvetica, Tahoma, Arial, clean, sans-serif;
}

button:focus {
	outline: none;
}

button.close#eliminar,
button.close#descargar {
	padding-left: 6px;
	font-size: 16px;
	color: #cccccc;
	transition: color 200ms ease;
	opacity: 1;
	text-shadow: none;
	font-weight: 400;
	
}

button.close#eliminar:hover,
button.close#descargar:hover {
	color: #808080;
	opacity: 1;
}

button.close#descargar {
	padding-top: 1px;
}

.boton {
	padding: 6px 10px;
	height: 28px;
	line-height: 11px;
	border-radius: 2px;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	transition-property: background-color;
 	transition-duration: .3s;
	user-select: none;
}

.boton-azul {
	border: solid 1px #336699;
	background-color: #336699;
}

.boton-azul:hover, .form-control:hover {
	background-color: #3d7ab8;
	transition-duration: .2s;
}

.boton-azul:active, .form-control:active {
	background-color: #366ba1;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
	transition-duration: .1s;
}

.boton-naranja {
	border: solid 1px #f68d2e;
	background-color: #f68d2e;
}

.boton-naranja:hover {
	background-color: #f8a255;
	transition-duration: .2s;
}

.boton-azul:focus, .boton-naranja:focus {
	outline: none;
}

.boton-cerrar {
    background: url(../images/cerrar.png);
    background-image: -webkit-image-set(url(../images/cerrar.png) 1x, url(../images/cerrar-2x.png) 2x);
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    position: absolute;
    right: 16px;
    height: 18px;
    width: 22px;
}

.boton-cerrar:hover {
    background-position: -21px; 
}

.boton-cerrar:active {
    background-position: -42px;
}

.form-control {
	width: inherit;
	display: block;
	margin: 0 auto;
}

.form-control[disabled], .form-control[disabled]:hover {
	background-color: #f7f7f7;
    border: solid 1px #d9d9d9;
    color: #919191;
	opacity: 1;
	box-shadow: none;
}

.ReactModal__Overlay {
	background-color: rgba(51, 51, 51, 0.5) !important;
}

.ReactModal__Content {
	padding: 16px !important;
	width: 512px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px !important;
    transition: height 200ms ease-in !important;
	border-radius: 4px !important;
	font-size: 14px;
	line-height: 1.42857143 !important;
    color: #333 !important;
}

.modal-content {
    border: 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
    min-width: 400px;
}

.modal-body p.text-center {
	margin: 0;
	text-align: center;
}

.modal-title {
	padding: 0;
    font-size: 17px !important;
    font-weight: 600;
    color: #336699;
	width: 468px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal-header {
	padding: 0 16px 16px 0;
    border-bottom: none;
	
}

.modal-header .close {
    opacity: 1;
	height: 18px;

}

.modal-body {
	padding: 0;
}

.modal-footer {
	padding: 16px 0 0 16px;
    border-top: none;
}

.panel {
	box-shadow: none;
}

.panel-primary {
	border: 0;
}

.panel-primary.adjuntos {
	border-top: 1px solid #d8d8d8;
	border-radius: 0;
	margin-bottom: 0;
}

.panel-primary.adjuntos .panel-body {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 230px;
	border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.panel-primary.adjuntos .panel-body .container-fluid {
	padding-top: 15px;
}

.panel-primary>.panel-heading {
	padding: 8px 12px;
    background-color: #336699;
    border-color: #336699;
	font-weight: 500;
}

.panel-primary.upload-box {
	margin-bottom: 0;
}

.panel-primary .alert {
	margin-bottom: 8px;
	border-radius: 0;
}

.panel-body {
    padding: 16px;
}

input[type=file]:focus {
	outline: none;
}

input[type=file] {
	margin: 0 auto;
	margin-top: 12px;
}

.sin-adjuntos {
	padding: 16px;
}

[data-balloon]:before {
	margin-bottom: 3px !important;
	background: url(../images/tooltip.png) !important;
    background-image: -webkit-image-set(url(../images/tooltip.png) 1x, url(../images/tooltip-2x.png) 2x) !important;
	z-index: 1000 !important;
	image-rendering: crisp-edges;
}

[data-balloon]:after {
	margin-bottom: 8px !important;
	background-color: #336699 !important;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 13px 0px;
}

.list-group-item {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}