@font-face {
  font-family: 'Nubox';
  src:  url('Nubox.eot?ssb4zb');
  src:  url('Nubox.eot?ssb4zb#iefix') format('embedded-opentype'),
    url('Nubox.ttf?ssb4zb') format('truetype'),
    url('Nubox.woff?ssb4zb') format('woff'),
    url('Nubox.svg?ssb4zb#Nubox') format('svg');
  font-weight: normal;
  font-style: normal;
}
.nuboxFont {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Nubox' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nubox-logo:before {
  content: "\e900";
}
.nubox-ruta:before {
  content: "\e901";
}
.nubox-limpiar:before {
  content: "\e902";
}
.nubox-menu:before {
  content: "\e903";
}
.nubox-cerrar:before {
  content: "\e904";
}
.nubox-notificaciones:before {
  content: "\e905";
}
.nubox-accesos-directos:before {
  content: "\e906";
}
.nubox-asistente:before {
  content: "\e908";
}
.nubox-chat:before {
  content: "\e909";
}
.nubox-historial:before {
  content: "\e907";
}
.nubox-info:before {
  content: "\e90e";
}
.nubox-dropdown:before {
  content: "\e90a";
}
.nubox-breadcrumb:before {
  content: "\e90b";
}
.nubox-mas:before {
  content: "\e90c";
}
.nubox-menos:before {
  content: "\e90d";
}
.nubox-movimientos:before {
  content: "\e915";
}
.nubox-reportes:before {
  content: "\e90f";
}
.nubox-administracion:before {
  content: "\e910";
}
.nubox-configuracion:before {
  content: "\e911";
}
.nubox-calendario:before {
  content: "\e912";
}
.nubox-actualizacion:before {
  content: "\e913";
}
.nubox-mensaje:before {
  content: "\e914";
}
.nubox-exportar:before {
  content: "\e916";
}
.nubox-pdf:before {
  content: "\e929";
}
.nubox-importar:before {
  content: "\e917";
}
.nubox-agregar:before {
  content: "\e918";
}
.nubox-imprimir:before {
  content: "\e919";
}
.nubox-descargar:before {
  content: "\e91a";
}
.nubox-editar:before {
  content: "\e91b";
}
.nubox-buscar:before {
  content: "\e91c";
}
.nubox-borrar:before {
  content: "\e92a";
}
.nubox-sin-alertas:before {
  content: "\e91d";
}
.nubox-cambiar-clave:before {
  content: "\e91e";
}
.nubox-cambiar-servicio:before {
  content: "\e91f";
}
.nubox-cerrar-sesion:before {
  content: "\e920";
}
.nubox-cambiar-usuario .path1:before {
  content: "\e92b";
  color: rgb(0, 0, 0);
  opacity: 0.75;
}
.nubox-cambiar-usuario .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nubox-cambiar-usuario .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.nubox-error:before {
  content: "\e921";
}
.nubox-invalido:before {
  content: "\e922";
}
.nubox-visible:before {
  content: "\e923";
}
.nubox-invisible:before {
  content: "\e924";
}
.nubox-checkbox-on:before {
  content: "\e925";
}
.nubox-checkbox-off:before {
  content: "\e926";
}
.nubox-radio-on:before {
  content: "\e927";
}
.nubox-radio-off:before {
  content: "\e928";
}